<h1>This is your profile page <%= @user.username %></h1>

<h3>
Becoming a great public speaker is as simple as 1-2-3: <br><br><br>
1. Upload your favorite public speaking videos from YouTube <br>
2. Practice alongside your favorite speeches with a video feed! <br>
3. Get reviews on your speech and give reviews to other users! <br><br>
Here's the link to see your
<%= link_to 'videos' , user_videos_path(@user) %>
</h3>

<%= form_for :user, url: logout_path, method: :delete do |f| %>
  <%= f.submit value: 'Log Out' %>
<% end %>
