<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Text:</strong>

</p>

<%= link_to 'Edit', edit_user_video_path(@user, @video) %> |
<%= link_to 'Back', user_video_path(@user, @video) %>
<!-- back button doesnt work -->
